#start-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    display: grid;
    gap: 5pt;
    margin-bottom: 30px;


    &.grid {
      width: 100%;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, 65ch);
    }

    > div {
      max-width: 75ch;
      padding: 5pt;
      border: 1px solid;
      border-radius: 5px;
    }
  }
}
