root = true

[*.cs]
charset = utf-8
#options: 


csharp_style_namespace_declarations = file_scoped
csharp_style_var_elsewhere = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true
csharp_style_expression_bodied_constructors = when_on_single_line
dotnet_style_require_accessibility_modifiers = omit_if_default

csharp_style_expression_bodied_methods = when_on_single_line
csharp_style_expression_bodied_operators = when_on_single_line
csharp_style_expression_bodied_local_functions = when_on_single_line



#Warnings we disagree with or have other good reasons for chosing to disable
dotnet_diagnostic.CA1008.severity = none # Enums should have a Zero value. No because for many enums there IS no sane default, Zero is as bad as null, so intentionally avoiding 0 is the correct domain design. It is clear that it is invalid instead of mysterious
dotnet_diagnostic.xUnit1006.severity = none # We have theory attributes that do not pass arguments to the test methods
dotnet_diagnostic.CA1063.severity = none # We do NOT use unmanaged resources, nor use finalizers, nor are we willing to add a ton of complexity to every Disposable class just on the off chance that an inheritors does so. 
dotnet_diagnostic.CA1816.severity = none # We do NOT use unmanaged resources, nor use finalizers, nor are we willing to add a ton of complexity to every Disposable class just on the off chance that an inheritors does so. 
dotnet_diagnostic.CA1064.severity = none # We create a lot of specific exceptions to help debugging, they are not for public consumption. We decide which to make part of our public API
dotnet_diagnostic.CA1707.severity = none # We use underscores in test names and other places for readability in long names.
dotnet_diagnostic.CA1840.severity = none # The thread class is the natural and logical place for ManagedThreadId. Being told to go looking for that in environment feels exceedingly strange to us.
dotnet_diagnostic.CA1852.severity = none # making every single class that could theoretically be sealed sealed as a nano optimization... NO thanks. sealed has an actual semantic meaning and we only seal classes where it applies.
dotnet_diagnostic.CA1515.severity = none # There are many good reasons for classes to be public. Such as frameworks not working if they are not!

dotnet_diagnostic.IDE0055.severity = none # I don't want visual studio to give thousands of warnings about formatting
dotnet_diagnostic.IDE0058.severity = none # In countless cases it is perfectly valid not to use the return value of an expression
dotnet_diagnostic.IDE0046.severity = none # Not using the ternary operator in every case it is theoretically possible is not a warning level offense. It's small judgment call about what is more readable in every case.

dotnet_diagnostic.IDE0007.severity = none #I like var, but not using it is valid in many cases. It's not a warning level offence.
dotnet_diagnostic.IDE0011.severity = none # Sometimes braces are not needed for simple if statements. This is not a warning level thing to us.

dotnet_diagnostic.CA1859.severity = none #CA1859: Use concrete types when possible for improved performance || We want the proper types, not whatever achives an utterly useless nano optimization at the cost of exposing something that should NOT be exposed.
dotnet_diagnostic.CA1860.severity = none #Prefer comparing Count to 0 over using Any() || Well we think Any() is more readable and shorter and unless a profiler tells us we have an issue with this nano optimization we don't care. (And that will never happen).
dotnet_diagnostic.CA1805.severity = none #We do sometimes initialize members to their default values. It makes it clear that we have not forgotten, that this is the indended value.


#Not sure about this one, marker interfaces can be quite useful, but I guess they are exceptions....
#dotnet_diagnostic.CA1040.severity = none #Avoid empty interfaces

#Todo: review these below and add comments on why they are there if they should stay
dotnet_diagnostic.CA1032.severity = none #Implement standard exception constructors
dotnet_diagnostic.CA1034.severity = none #Do not nest type AggregateLink. Alternatively, change its accessibility so that it is not externally visible.
dotnet_diagnostic.CA1000.severity = none #Do not declare static members on generic types
dotnet_diagnostic.CA1062.severity = none #In externally visible method 'ComponentRegistration<TService> ComponentRegistrationExtensions.CreatedBy<TService, TImplementation, TDependency1, TDependency2, TDependency3, TDependency4, TDependency5, TDependency6, TDependency7, TDependency8, TDependency9>(ComponentRegistrationWithoutInstantiationSpec<TService> @this, Func<TDependency1, TDependency2, TDependency3, TDependency4, TDependency5, TDependency6, TDependency7, TDependency8, TDependency9, TImplementation> factoryMethod)', validate parameter 'this' is non-null before using it. If appropriate, throw an ArgumentNullException when the argument is null or add a Code Contract precondition asserting non-null argument.
dotnet_diagnostic.CA1716.severity = none #rename X so that it no longer conflicts with the reserved language keyword 'X'. Using a reserved keyword as the name of ... makes it harder for consumers in other languages to ....
dotnet_diagnostic.CA1822.severity = none #Member 'Commands' does not access instance data and can be marked as static
dotnet_diagnostic.CA1303.severity = none #Method ...  passes a literal string as parameter 'message' of a call to 'Exception.Exception(string message)'. Retrieve from a resource table instead:
dotnet_diagnostic.CA2208.severity = none #Call the ArgumentOutOfRangeException constructor that contains a message and/or paramName parameter.
dotnet_diagnostic.IDE1006.severity = none # IDE1006: Naming Styles
dotnet_diagnostic.CA2100.severity = none # CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA1801.severity = none # CA1801: Review unused parameters
dotnet_diagnostic.CA1810.severity = none # CA1810: Initialize reference type static fields inline


#Theoretically, maybe, valid, but not worth the effort.
dotnet_diagnostic.CA2201.severity = none # Maybe, In principle one should create a new specific Exception every place where one throws one. But unless there is reason to believe that catching that specific exception is meaningful.....

