//When running tests, all tests that uses dependency injection and persistence will 
//be executed once for every configured combination of components in this file.
//Format is PersistenceLayer:DIContainer. Comment out the ones you do not want with #. 
//Empty/Whitespace lines are ignored

#MicrosoftSqlServer:Microsoft:Newtonsoft:AspNetCore
#PostgreSql:Microsoft:Newtonsoft:AspNetCore
#MySql:Microsoft:Newtonsoft:AspNetCore
#Sqlite:Microsoft:Newtonsoft:AspNetCore
SqliteMemory:Microsoft:Newtonsoft:AspNetCore

#MicrosoftSqlServer:SimpleInjector:Newtonsoft:AspNetCore
#PostgreSql:SimpleInjector:Newtonsoft:AspNetCore
#MySql:SimpleInjector:Newtonsoft:AspNetCore
#Sqlite:SimpleInjector:Newtonsoft:AspNetCore
#SqliteMemory:SimpleInjector:Newtonsoft:AspNetCore

#MicrosoftSqlServer:Microsoft:Newtonsoft:Memory
#PostgreSql:Microsoft:Newtonsoft:Memory
#MySql:Microsoft:Newtonsoft:Memory
#Sqlite:Microsoft:Newtonsoft:Memory
#SqliteMemory:Microsoft:Newtonsoft:Memory

#MicrosoftSqlServer:SimpleInjector:Newtonsoft:Memory
#PostgreSql:SimpleInjector:Newtonsoft:Memory
#MySql:SimpleInjector:Newtonsoft:Memory
#Sqlite:SimpleInjector:Newtonsoft:Memory
#SqliteMemory:SimpleInjector:Newtonsoft:Memory
