#When running tests, all tests that uses dependency injection and persistence will 
#be executed once for every configured combination of components in this file.
#Format is PersistenceLayer:DIContainer. Comment out the ones you do not want with #. 
#Empty/Whitespace lines are ignored

#MicrosoftSQLServer:Composable
#Memory:Composable
#MySql:Composable
#PostgreSql:Composable
#Oracle:Composable
#IBMDB2:Composable

MicrosoftSQLServer:SimpleInjector
#Memory:SimpleInjector
#MySql:SimpleInjector
#PostgreSql:SimpleInjector
#Oracle:SimpleInjector
#IBMDB2:SimpleInjector

#MicrosoftSQLServer:WindsorCastle
#Memory:WindsorCastle
#MySql:WindsorCastle
#PostgreSql:WindsorCastle
#Oracle:WindsorCastle
#IBMDB2:WindsorCastle