//When running tests, all tests that uses dependency injection and persistence will 
//be executed once for every configured combination of components in this file.
//Format is PersistenceLayer:DIContainer. Comment out the ones you do not want with #. 
//Empty/Whitespace lines are ignored

#MsSql:Microsoft:Newtonsoft:Memory
#PgSql:Microsoft:Newtonsoft:Memory
#MySql:Microsoft:Newtonsoft:Memory
#Sqlite:Microsoft:Newtonsoft:Memory
SqliteMemory:Microsoft:Newtonsoft:Memory

#MsSql:SimpleInjector:Newtonsoft:Memory
#PgSql:SimpleInjector:Newtonsoft:Memory
#MySql:SimpleInjector:Newtonsoft:Memory
#Sqlite:SimpleInjector:Newtonsoft:Memory
#SqliteMemory:SimpleInjector:Newtonsoft:Memory

#MsSql:Microsoft:Newtonsoft:AspNetCore
#PgSql:Microsoft:Newtonsoft:AspNetCore
#MySql:Microsoft:Newtonsoft:AspNetCore
#Sqlite:Microsoft:Newtonsoft:AspNetCore
#SqliteMemory:Microsoft:Newtonsoft:AspNetCore

#MsSql:SimpleInjector:Newtonsoft:AspNetCore
#PgSql:SimpleInjector:Newtonsoft:AspNetCore
#MySql:SimpleInjector:Newtonsoft:AspNetCore
#Sqlite:SimpleInjector:Newtonsoft:AspNetCore
#SqliteMemory:SimpleInjector:Newtonsoft:AspNetCore
